<main id="main">
  <h2 class="blind">글작성</h2>
  <div id="content-info">
    <div id="content-name">
      <%= @post.title %>
    </div>
    <div id="content-container">
      <span id="content-time"><%= @post.created_at.to_s[0..-7] %></span>
      <form action="/posts/delete/<%= @post.id %>" method="POST" class="content-form">
        <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token"/>
        <input type="password" placeholder="password" id="content-pw" name="pw"/>
        <input type="submit" value="Delete" id="content-submit"/>
      </form>
    </div>
  </div>
  <div id="content-content">
    <div id="content-description"><%= @post.desc %></div>
  </div>
</main>